name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
jobs:
  project:
    name: Project Checks
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: 1.24.x
    - uses: actions/checkout@v5
      with:
        path: src/github.com/containerd/fuse-overlayfs-snapshotter
        fetch-depth: 25
    - uses: containerd/project-checks@v1.2.2
      with:
        working-directory: src/github.com/containerd/fuse-overlayfs-snapshotter

  linters:
    name: Linters
    permissions:
      contents: read # for actions/checkout to fetch code
      pull-requests: read # for golangci/golangci-lint-action to fetch pull requests
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          path: src/github.com/containerd/fuse-overlayfs-snapshotter
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - uses: golangci/golangci-lint-action@v9
        with:
          working-directory: src/github.com/containerd/fuse-overlayfs-snapshotter

  test:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        fuse-overlayfs: [v1.0.0, v1.13, main]
    env:
      FUSEOVERLAYFS_COMMIT: "${{ matrix.fuse-overlayfs }}"
    steps:
    - uses: actions/checkout@v5
    - run: make test

  cross:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
    - uses: actions/setup-go@v6
      with:
        go-version: 1.24.x
    - uses: actions/checkout@v5
    - run: make artifacts
